# Fan control service for a UNAS Pro.
#
# Repo: https://github.com/hoxxep/UNAS-Pro-fan-control
# Author: Liam Gray
# License: MIT

[Unit]
Description=Fan Control Based on Temperatures
After=multi-user.target

[Service]
ExecStart=/root/fan_control.sh --service
Restart=always
User=root

[Install]
WantedBy=multi-user.target
